body{
    /*background-image: url('../images/bg.jpg') 100% 100%;*/
    background: url("../images/bg.jpg");
    background-attachment:fixed;
    background-size: 100%;
}
a{
    text-decoration: none;
}
#header{
    margin: 0 auto;
    width: 95%;
    height: 60px;
    border-radius: 5px;
    background-color: #f2e9e9;
    opacity: 0.6;
}
#header h1{
    position: absolute;
    line-height: 20px;
    margin-left: 50px;
}
#header ul{
    position: absolute;
    list-style: none;
    margin-left: 400px;
    margin-top: 8px;
}
#header ul li{
    height: 45px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 20px;
    width: 120px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    background-color: #d3cfcf;
}
#header h4{
    display: inline-block;
    margin-left: 1200px;
}
#header a{
    text-decoration: none;
    color: black;
}

#register{
    width: 40%;
    height: 400px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
    background-color: #e7e7e7;
    opacity: 0.7;
    padding: 1px;
}
#register input{
    width: 150px;
    height: 25px;
    border-radius: 3px;
}
#register button{
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    font-weight: bolder;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: dimgray;
}






#Login_Register{
    width: 30%;
    height:300px;
    margin: 150px auto;
    border-radius: 10px;
    background-color: #e7e7e7;
    opacity: 0.7;
    padding: 1px;
}
#Login_Register h2{
    text-align: center;
}
#Login_Register h3{
    text-align: center;
}
#Login_Register form{
    text-align: center;
}
#Login_Register input{
    width: 150px;
    height: 25px;
    margin-top: 20px;
    border-radius: 4px;
}
#Login_Register button{
    margin-top: 10px;
    font-weight: bolder;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: dimgray;
}
#Login_Register button:hover{
    background-color: #d58512;
}


#book_detiail{
    margin: 10px auto;
    width: 40%;
}
#book_detiail h2,h3 {
    text-align: center;
}
#book_detiail p {
    font-family: Calibri;
    text-indent: 2em;
    text-align: left;
    border: 1px gray solid;
    border-radius: 10px;
    padding: 15px;
    line-height: 25px;
}
#book_detiail table{
    margin: auto;
    text-align: center;
}
#book_detiail table td{
    width: 150px;
}


#layui-laypage-1{
    font-size: 14px;
    margin-left: 550px;
}

.layui-box a {
    padding: 5px 10px;
    text-decoration-line:none;
    background-color: #f4f4f5;
    margin-left: 5px;
    color: #606266;
    border-radius: 2px;
}

.layui-box  .aaa {
    background-color: #58C7C7;
    color: #fff;
}
#FanYe{
    margin: 0 auto;
    height: 600px;
    width: 80%;
    overflow: hidden;
}
#FanYe ul{
    margin: 0 auto;
    width: 70%;
}
#FanYe ul li{
    list-style: none;
    text-align: center;
}
#FanYe ul li h4{
    font-weight: normal;
    display: inline;
    line-height: 40px;
    list-style: none;
    text-align: center;
}

/*--------------------------用户信息页面--------------------------*/
#userinfo{
    width: 60%;
    margin: 0 auto;
}
#userinfo h2,h3{
    text-align: center;
}
#userinfo h3{
    font-weight: normal;
}

#borrowMan{
    margin-top: -10px;
}
#borrowMan input{
    width: 10px;
    height: 10px;
}

#alter{
    text-align: center;
    width: 40%;
    height: 400px;
    margin: 50px auto;
    padding-top: 40px;
    background-color: #d3cfcf;
    border-radius: 5px;
    opacity: 0.75;
}
#alter form{
    text-align: center;
}

#alter input{
    width: 150px;
    height: 25px;
    border-radius: 3px;
    margin-top: 20px;
}
#alter button{
    margin-top: 50px;
    width: 120px;
    height: 30px;
    border-radius: 3px;
}

